/* scroll to reveal
html.sr .load-hidden {
  visibility: hidden;
} */
/* 
html {
  scroll-behavior: smooth;
} */

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Helvetica, "PingFang SC", "Microsoft Yahei", sans-serif;
}

/* ============= 头部================== */

/* 头部 */
header {
  width: 100vw;
  height: 80px;
  /* 栅格布局 */
  display: grid;
  padding: 0 40px;
  background-color: rgba(214, 48, 48, 1);

  /* 两列，一列占三分之一，一列占三分之二 */
  grid-template-columns: 1fr 2fr;
  /* 垂直居中 */
  align-items: center;
  /* 用于定位导航菜单 */
  position: relative;
  z-index: 200;
}

/* logo */
.logo {
  font-size: 30px;
  font-weight: 600;
  color: var(--text-color-lightest);
}

/* 导航 */
header nav {
  /* 水平靠右对齐 */
  justify-self: end;
}

/* 导航链接 */
header nav a {
  color: var(--text-color-lightest);
  text-decoration: none;
  margin: 0 24px;
}

/* 折叠菜单 */
header .burger {
  display: none;
}



/* ============= 画廊 ================== */
  
  .masonry {
    column-count: 4;
    column-gap: 0;
    margin: 4px;
    font-family: Helvetica;
    margin: 50px auto;
    width: 1180px;
  }
  
  .item {
    padding: 4px;
    position: relative;
    counter-increment: item-counter;
    break-inside: avoid;
  }
  
  .item img {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 20px;
  }

/* ============= 底部区域 ================== */
/* 底部 */
footer {
  margin-top: 124px;
  background-color: #941c07;
  display: grid;
  justify-items: center;
  padding-top: 24px;
  padding-bottom: 18px;
}

/* 底部菜单 */
.footer-menus {
  width: 100%;
  max-width: 1180px;
  display: grid;
  /* 5列布局 */
  grid-template-columns: 2fr repeat(3, 1fr);
  padding: 0 80px;
  position: relative;
}

/* 导航菜单，靠右对齐 */
.footer-menu {
  justify-self: end;
}

/* 一级菜单 */
.menu-title {
  font-size: 16px;
  color: white;
  font-weight: 500;
  margin-bottom: 20px;
}

/* 联系我们，靠左对齐 */
.contact-us {
  justify-self: start;
  color: var(--text-color-lightest);
}

/* 联系我们，文字 */
.contact-us p:not(:first-child) {
  padding-bottom: 16px;
}

/* 菜单项 */
.menu-items li {
  list-style: none;
  padding-bottom: 8px;
}
/* 菜单链接 */
.menu-items li a {
  text-decoration: none;
  font-weight: 300;
  color: var(--text-color-lightest);
}

/* 版权信息 */
.rights {
  margin-top: 36px;
  margin-bottom: 16px;
  font-weight: 200;
}

/* 备案信息，版权信息 */
.icp-info,
.rights {
  /* 占满整行，-1代表最后一个编号 */
  grid-column: 1 / -1;
  /* 居中对齐 */
  justify-self: center;
  color: white;
}

/* 返回顶部按钮，默认不显示 */
.scrollToTop {
  display: none;
  position: relative;
  z-index: 300;
}

/* 返回顶部按钮 */
.scrollToTop a {
  width: 32px;
  height: 32px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--primary-color);
  color: white;
  text-decoration: none;
  position: fixed;
  bottom: 60px;
  right: 30px;
}

/* ============= 自适应 ================== */

/* 自适应，小于1100象素时 */
@media (max-width: 1100px) {
  /* 导航设置为不可见，点击折叠按钮显示全屏导航 */
  header nav {
    display: none;
  }

  /* 头部平分两列布局 */
  header {
    grid-template-columns: repeat(2, 1fr);
  }

  /* 折叠菜单样式，显示出来 */
  header .burger {
    display: block;
    justify-self: end;
    cursor: pointer;
    position: relative;
    width: 20px;
    height: 6px;
  }

  /* 折叠按钮线条样式 */
  .burger-line1,
  .burger-line2,
  .burger-line3 {
    width: 20px;
    height: 2px;
    background-color: var(--text-color-lightest);
    /* position: relative; */
  }

  /* 上移第一条线 */
  .burger-line1 {
    position: absolute;
    top: -6px;
  }
  /* 下移第三条线 */
  .burger-line3 {
    position: absolute;
    top: 6px;
  }

  /* 全屏导航展开时，折叠按钮设置为深色 */
  header.open .burger-line1,
  header.open .burger-line2,
  header.open .burger-line3,
  header.sticky .burger-line1,
  header.sticky .burger-line2,
  header.sticky .burger-line3 {
    background-color: var(--text-color-darker);
    transition: 0.4s ease;
  }

  /* 全屏导航显示时，折叠按钮第一条线样式 */
  header.open .burger-line1 {
    transform: rotate(45deg) translate(3px, 5px);
  }

  /* 全屏导航显示时，折叠按钮第二条线样式 */
  header.open .burger-line2 {
    transform: translateX(5px);
    opacity: 0;
  }

  /* 全屏导航显示时，折叠按钮第三条线样式 */
  header.open .burger-line3 {
    transform: rotate(-45deg) translate(3px, -5px);
  }
  /* 全屏导航显示时，logo样式 */
  header.open .logo {
    color: var(--text-color-darker);
    z-index: 40;
  }

  /* 全屏导航显示时，导航菜单样式 */
  header.open nav {
    display: grid;
    /* 每行高度为内容的高度，不设置会平分全屏高度 */
    grid-auto-rows: max-content;
    /* 菜单项靠右对齐 */
    justify-items: end;
    position: absolute;
    top: 0;
    left: 0;
    background: white;
    width: 100vw;
    height: 100vh;
    padding: 0 40px;
    opacity: 0;
    /* 下滑效果 */
    animation: slideDown 0.6s ease-out forwards;
  }
  /* 全屏导航显示时，导航菜单项样式和动画 */
  header.open nav > * {
    margin: 4px 0;
    font-size: 18px;
    color: var(--text-color-darker);
    opacity: 0;
    animation: showMenu 0.5s linear forwards 0.4s;
  }


  
  /* 缩小业务流程标题字体 */
  .service-item .service-title {
    font-size: 20px;
  }
  /* 缩小业务流程内容字体和行距 */
  .service-item .service-content {
    font-size: 14px;
    line-height: 24px;
  }

}

/* 小于992象素时 */
@media (max-width: 992px) {
  /* logo */
  .logo {
    font-size: 28px;
    font-weight: 500;
  }
  
  /* 轮播标题字号缩小  */
  .slide-caption h1 {
    font-size: 48px;
  }

  .slide-caption h3 {
    font-size: 18px;
  }

  /* 关于我们和业务流程设置为两列布局 */
  .features,
  .services {
    grid-template-columns: repeat(2, 1fr);
    /* 取消两行布局 */
    grid-template-rows: unset;
  }
  /* 成功案例图片设置为3列 */
  .showcases .case-item {
    width: calc(100vw / 3);
  }
  /* 相册图片设置为3列 */
  .masonry {
    column-count: 3;
    max-width: 930px;
  }
}
 

/* 小于768象素时 */
@media (max-width: 768px) {
  /* 区域的左右内边距设置为40象素 */
  section,
  .footer-menus {
    padding: 0 40px;
  }

  /* logo */
  .logo {
    font-size: 24px;
    font-weight: 500;
  }

  /* 关于我们和业务流程设置为1列 */
  .features,
  .services {
    grid-template-columns: 1fr;
  }

  /* 成功案例图片显示为两列 */
  .showcases .case-item {
    width: calc(100vw / 2);
    height: 30vw;
  }
  
  /* 相册图片设置为3列 */
  .masonry {
    column-count: 2;
    max-width: 600px;
  }

  /* 底部菜单设置为3列 */
  .footer-menus {
    grid-template-columns: 2fr repeat(2, 1fr);
    row-gap: 24px;
  }

  /* 联系我们占前两列 */
  .contact-us {
    grid-row: 1 / 3;
  }

  /* 菜单文字靠右对齐 */
  .footer-menu {
    text-align: right;
  }
}

/* 小于576象素 */
@media (max-width: 576px) {
  /* logo */
  .logo {
    font-size: 18px;
    font-weight: 500;
  }
  
  /* 缩小轮播标题文字，探索更多按钮文字 */
  .slide-caption h1 {
    font-size: 28px;
  }

  .slide-caption h3 {
    font-size: 14px;
  }

  .explore-btn {
    padding: 8px 18px;
    font-size: 14px;
  }

  /* 成功案例显示为1列 */
  .showcases .case-item {
    width: 100vw;
    height: 60vw;
  }

   /* 相册图片设置为3列 */
   .masonry {
    column-count: 2;
    max-width: 480px;
  }

  /* 底部菜单显示为1列 */
  .footer-menus {
    grid-template-columns: 1fr;
    /* row-gap: 24px; */
  }

  /* 底部菜单左对齐 */
  .footer-menu {
    justify-self: start;
    text-align: left;
  }
}
